{% extends 'layouts/base.html' %}

{% block title %} API Sample {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">


    <div class="row">

      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-header text-center pb-0 px-3">
            <h6 class="mb-0">
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-plus text-success me-2" aria-hidden="true"></i>Add Item</a>
            </h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <span class="text-xs">Year: <span class="text-dark ms-sm-2 font-weight-bold">22 june 2020</span></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
    const modelName = 'book'
    const token = localStorage.getItem('token') || ''
    const itemContainer = document.querySelector('.list-group')
    fetch(`/api/${modelName}`,{
        method: 'GET',
        headers: {
            'Authorization': `token ${token}`
        }
    })
        .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.text()
            })
        .then((res) => {
            res.forEach((book) => {
                    const item = `<li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
                          <h6 class="mb-3 text-sm">${book.name}</h6>
                          <span class="text-xs">Year: <span class="text-dark ms-sm-2 font-weight-bold">${book.year}</span></span>
                        </div>
                        <div class="ms-auto text-end">
                          <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete" href="javascript:;" id="${book.id}"><i class="far fa-trash-alt me-2"></i>Delete</a>
                          <a class="btn btn-link text-dark px-3 mb-0 edit" href="javascript:;" id="${book.id}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                        </div>
                      </li>`

                    itemContainer.innerHTML += item
                })
        })
        .catch((err) => {
            console.log(err)
        })

</script>

{% endblock javascripts %}
